:root{

    --blue-primary: #136db9;
    --blue-primary-type-two: #136db8;
    --blue-secondary: #09478e;
    --blue-secondary-shade: #052447;
    --blue-secondary-box-shadow: 0 0 0 0.25rem rgba(5, 36, 71, 0.25);
    
}

body{

    .news{
        .homepage-list{
            &.row{
                --bs-gutter-y: 40px;
            }
            .lead{
                display: none;
            }

            .news-image{
                img{
                    width: 100%;
                    height: auto;
                }
            }

            .news-content{
                & > h3{
                    font-size: 1.25rem;
                    margin: 1rem 0;
                 }
            }

            
        }
    }

    .accordion-button{
        &:not(.collapsed){
            background-color: var( --blue-secondary);
            box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
            color: white;

            &:after{
                background-image: url(../Icons/down-arrow-white.svg);
            }
        }
        &:focus{
            box-shadow: var(--blue-secondary-box-shadow);
        }
    }

    .news-list-view{
        .list-group-item{
            padding: 0 0 1rem 0;
            border: none;
            border-bottom: 1px solid var(--bs-list-group-border-color);
            margin-bottom: 1rem;
            border-radius: 0px;

            &:last-child{
                margin-bottom: 0px;
            }

            & > .news-list-item{
                margin-bottom: 0px !important;
            }
        }
    }

    @media screen and (max-width: 1199px) and (min-width: 992px){
        #page-header{
            & > .container{
                max-width: 100%;
            }
        }

        .navbar-mainnavigation .navbar-brand{
            margin-right: 0px;
        }

        .navbar-mainnavigation{
            & > .container{
                & > .collapse{
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                    flex-grow: inherit;
                    & > .navbar-nav{
                        padding-left: 0px;
                        padding-right: 0px;
                        margin-right: -10px !important;
                        margin-left: -10px !important;
                        .nav-item{
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                        .nav-link{
                            padding-right: 0px;
                            padding-left: 0px;
                        }
                    }
                }
            }
        } 
    }

    .desktop-round-logo{
        display: none;
    }


    @media screen and (min-width: 1200px){
        .carousel{
            border: 20px solid var(--blue-primary-type-two);
        }

        header{
            &.bp-page-header{
                position: relative;

                .navbar-brand-image{
                    position: static;
                    img{
                        &:not(.desktop-round-logo){
                            display: none !important;
                        }

                        &.desktop-round-logo{
                            width: 300px;
                            height: auto;
                            max-height: inherit;
                            position: static;
                            transform: none;
                            position: absolute;
                            left: 50px;
                            top: -15px;
                            display: block;
                        }
                    }
                }

                .container{
                    position: static;
                    z-index: 15;
                }

                &:before{
                    content: ' ';
                    display: block;
                    width: 482px;
                    height: 313px;
                    background-image: url(../Images/header-curve.png);
                    background-repeat: no-repeat;
                    background-position: left top;
                    background-size: cover;
                    pointer-events: none;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    z-index: 10;
                }
            }
        }
    }

    @media screen and (max-width: 1399px) and (min-width: 1200px){
        header{
            &.bp-page-header{
                &:before{
                    width: 300px;
                    height: 192px;
                }
                .navbar-brand-image{
                    img{
                        &.desktop-round-logo{
                            width: 220px;
                            left: 10px;
                            top: 0px;
                        }
                    }
                    
                }
            }
        }
    }


}
